%section#hero.wow.fadeIn
  .hero-container
    %h1 welcome

    -@blogs.each do |blog|
      .panel.panel-default
        .panel-heading
          %h2= blog.title
          = blog.created_at.to_date
        .panel-body
          = blog.description.truncate_words(blog.description.size%3).html_safe


        .panel-footer
          = link_to 'read more',blog




    = link_to 'New Blog', new_blog_path,class: 'btn btn-primary'
