%section#hero2.wow.fadeIn
  .hero-container2
    .row
      .col-md-3
      .col-md-6


        -@blogs.each do |blog|
          .panel.panel-default
            .panel-heading
              %h2= blog.title
              = blog.created_at.to_date
            .panel-body
              = blog.description.truncate_words(blog.description.size%3).html_safe


            .panel-footer
              = link_to 'read more',blog
      .col-md-3
        = link_to 'New Blog', new_blog_path,class: 'btn btn-primary'
