%section#get-started.padd-section.text-center.wow.fadeInUp
  .container
    .section-title.text-center
      %h2 Why Digital marketing?
      %p.separator
        Digital marketing has changed the marketing mix for Business – changing the way
        marketers communicate. Successful marketing strategies demand the right consumer
        insights and channel selection as the media landscape continues shifting. We are excited
        to have started the new financial year with increased focus on digital and social media
        and are glad to join hands with Langoor. This is a key medium to drive consumption
        habits and develop great content on fresh natural food. We look forward to strategizing
        and executing disruptive digital and socials campaigns with them for the brand”
  .container
    .row
      .col-md-4.col-lg-4
        .feature-block
          = image_tag("svg/cloud.svg",class: 'img-fluid') 
          %h4 Offline Marketing
          %li branding
          %li promotion
          %li awareness
          %li marketing collateral
          / Button trigger modal
          %button.btn.btn-primary.btn-sm{"data-target" => "#myModalOffline", "data-toggle" => "modal", :type => "button"}
            Know More
          / Modal
          #myModalOffline.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-lg{:role => "document"}
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4#myModalLabelOffline.modal-title  Offline Marketing
                .modal-body
                  = image_tag("img/5.jpg",class:'img-responsive')




      .col-md-4.col-lg-4
        .feature-block
          = image_tag("svg/planet.svg",class: 'img-fluid') 
          %h4 online marketing
          %li social media marketing
          %li Google AdWords
          %li SEO
          / Button trigger modal
          %button.btn.btn-primary.btn-sm{"data-target" => "#myModalOnline", "data-toggle" => "modal", :type => "button"}
            Know More
          / Modal
          #myModalOnline.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-lg{:role => "document"}
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4#myModalLabelOnline.modal-title Online Marketing
                .modal-body

                  = image_tag("img/10.jpg",class:'img-responsive')



      .col-md-4.col-lg-4
        .feature-block
          = image_tag("svg/asteroid.svg",class: 'img-fluid') 
          %h4 Design
          %li
            Responsive Single Page Website
            %br
            Design– Create stunning and beautiful
          / Button trigger modal
          %button.btn.btn-primary.btn-sm{"data-target" => "#myModalDesing", "data-toggle" => "modal", :type => "button"}
            Know More
          / Modal
          #myModalDesing.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-lg{:role => "document"}
              .modal-content
                .modal-header
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4#myModalLabelDesign.modal-title Design
                .modal-body
                  = image_tag("img/2.jpg",class:'img-responsive')



      
