!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    %title Advi
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    

  %body
    = render 'layouts/partials/nav_boot'
    .main
      = yield
    = render 'layouts/partials/footer'
      
