!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Advi
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application',
      'https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin',
       media: 'all', 'data-turbolinks-track' => true

  %body
    = render 'layouts/partials/nav'
    %br
    = render 'layouts/partials/sec'
    = render 'layouts/partials/sec2'
    = render 'layouts/partials/team'
    = render 'layouts/partials/contact'
    = render 'layouts/partials/footer'
    = yield
